<% if current_user %>
  <%= link_to "Sign Out", logout_path  %>
<% else %>
  <%= link_to "Sign Up", sign_up_path  %>
  <%= link_to "Log In", root_path %>
<% end %>
<br>

<div class="form">
  <%= form_for @link do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit "Add your link!", class: "add-link-button" %>
  <% end %>
</div>

<br>
<div class="links">

  <% @links.each do |link| %>
    <div class="container">
      <div class="link" data-link-id="<%= link.id %>">
        <span class="title">Title: <%= link.title %></span>
        <span class="url">URL: <%= link.url %></span>
        <span class="read">Read? <%= link.read %></span>
        <%= button_to "Edit" %>

      </div>
    <% end %>
  </div>

</div>