<div class="wrapper">

<% if current_user %>
  <%= link_to "Sign Out", logout_path  %>
<% else %>
  <%= link_to "Sign Up", sign_up_path  %>
  <%= link_to "Log In", root_path %>
<% end %>
<br>

<div class="big-center">
  <h1>Your Links!</h1>

  <div class="form-inline">
    <%= form_for @link do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>&nbsp;&nbsp;
      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url %>
      </div>&nbsp;&nbsp;
      <%= f.submit "Add your link!", class: "add-link-button btn btn-default" %>
    <% end %>
  </div>
  <br>

  <div class="filter">
    <%= form_tag(links_path, method: "get", class: "filter-links") do %>
      <%= label_tag(:query, "Search by:") %>
      <%= text_field_tag(:query) %>
    <% end %>
    <%= link_to "Show Read Links" , links_path, class: "show-read"%> &nbsp &nbsp
    <%= link_to "Show Unread Links" , links_path, class: "show-unread"%>
    <hr>
  </div>
</div>
</div>

<br>
<div class="links">
  <% @links.each do |link| %>
    <% if link.read? %>
      <div class="link-read" data-link-id="<%= link.id %>">
    <% else %>
      <div class="link" data-link-id="<%= link.id %>">
    <% end %>
      <div class="title">Title: <%= link.title %></div>
      <div class="url">URL: <%= link.url %></div>
      <div class="read-status">Read? <%= link.read %></div>
      <input type="button" class="edit-link-button btn btn-default" value="Edit Link"/>
      <% if link.read? %>
        <input type="button" class="mark-unread-button btn btn-default" value="Mark as Unread"/>
        <input type="button" style="display: none" class="mark-read-button btn btn-default" value="Mark as Read"/>
      <% else %>
        <input type="button" style="display: none" class="mark-unread-button btn btn-default" value="Mark as Unread"/>
        <input type="button" class="mark-read-button btn btn-default" value="Mark as Read"/>
      <% end %>
      <br>
    </div>
  <% end %>

</div>