<% if current_user %>
  <%= link_to "Sign Out", logout_path  %>
<% else %>
  <%= link_to "Sign Up", sign_up_path  %>
  <%= link_to "Log In", root_path %>
<% end %>
<br>

<div class="form">
  <%= form_for @link do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit "Add your link!", class: "add-link-button" %>
  <% end %>
</div>

<br>
<div class="links">

  <% @links.each do |link| %>
    <div class="container">
      <div class="link">
        Title: <%= link.title %>
        URL: <%= link.url %>
        Read? <%= link.read %>
      </div>
    <% end %>
  </div>

</div>